site_name: Neurobagel
theme:
  name: material
  custom_dir: docs/overrides
  features:
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.indexes
  - navigation.expand
  palette:
    primary: deep purple
    accent: amber
  font:
    text: Roboto
    code: Roboto Mono
repo_url: https://github.com/neurobagel/documentation

# Page Navigation
nav:
  - Welcome: "index.md"
  - User guide:
    - Overview: "overview.md"
    - Preparing data for annotation: "data_prep.md"
    - Annotating a dataset: "annotation_tool.md"
    - Generating harmonized subject-level metadata: "cli.md"
    - Setting up a graph: "infrastructure.md"
    - Using the API: "api.md"
    - Running cohort queries: "query_tool.md"
  - Data models: 
    - Augmented BIDS data dictionaries: "dictionaries.md"
    - Data files for Neurobagel graphs: "graph_data.md"
    - Naming conventions for terms: "term_naming_standards.md"
  - Preparing data using Nipoppy: 
    - Overview: "nipoppy/overview.md"
    - Installation: "nipoppy/installation.md"
    - Configs: "nipoppy/configs.md"
    - "Code organization": "nipoppy/code_org.md"
    - "Data organization": "nipoppy/data_org.md"
    - Workflow:
      - "DICOM organization": "nipoppy/workflow/dicom_org.md"
      - "BIDS conversion": "nipoppy/workflow/bids_conv.md"
      - Pipeline specific instructions:
        - fmriprep: "nipoppy/workflow/proc_pipe/fmriprep.md"
        - mriqc: "nipoppy/workflow/proc_pipe/mriqc.md"
  - Contributing:
    - Pull requests: "contributing/pull_requests.md"
    - Our team: "contributing/team.md"
  - Getting help: "getting_help.md"
  - Citing Neurobagel: "cite.md"

markdown_extensions:
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - table-reader
  - yamp:
    # directory within docs dir to add content
      temp_dir: "repos"
      # delete docs/{temp_dir} after build||serve?
      #  default: true
      cleanup: true
      # delete docs/{temp_dir} at the beginning of the
      # mkdocs invocation.
      start_fresh: true
      # declare a list of repositories or directories to add
      # to docs/{temp_dir}
      #   default: []
      repos:
        # the git repository URL to clone
      - url: "https://github.com/neurobagel/api"
        # a list of globs to checkout
        # if empty or not provided, the entire repository is cloned
        # default: [ ]
        include: [ "docs/api_environment_variables.tsv"]
        # the branch of the repository to clone
        branch: "main"
      - url: "https://github.com/neurobagel/neurobagel_examples"
        include: [ "query-tool-results" ]
        branch: "add-query-tsv-examples"
