site_name: Neurobagel Documentation
theme:
  name: material
  palette:
    primary: pink
    accent: light blue
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono
repo_url: https://github.com/neurobagel/documentation

# Page Navigation
nav:
  - Welcome: "index.md"
  - Getting started: "start.md"
  - User guide:
    - Annotating a dataset: "annotation_tool.md"
    - Generating harmonized subject-level metadata: "cli.md"
    - Setting up a graph: "infrastructure.md"
    - Running cohort queries: "query_tool.md"
  - Data models: "datamodels.md"
  - Data dictionaries: "dictionaries.md"
  - Naming conventions for terms: "term_naming_standards.md"
  - Preparing data using mr_proc: 
    - Overview: "mr_proc/overview.md"
    - Installation: "mr_proc/installation.md"
    - Configs: "mr_proc/configs.md"
    - "Code organization": "mr_proc/code_org.md"
    - "Data organization": "mr_proc/data_org.md"
    - Workflow:
      - "DICOM organization": "mr_proc/workflow/dicom_org.md"
      - "BIDS conversion": "mr_proc/workflow/bids_conv.md"
      - Pipeline specific instructions:
        - fmriprep: "mr_proc/workflow/proc_pipe/fmriprep.md"
        - mriqc: "mr_proc/workflow/proc_pipe/mriqc.md"

markdown_extensions:
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences
